<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Lattice"
    Manufacturer="benjf"
    Version="$(var.Version)"
    UpgradeCode="A1495F5C-77D0-489B-8B21-22D29C4C8C46"
    Scope="perMachine"
    InstallerVersion="500"
    Compressed="yes">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Lattice is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Lattice">
        <Component Id="LatticeExeComponent" Guid="*">
          <File Id="LatticeExe" Name="lattice.exe" Source="$(var.SourceDir)\lattice.exe" KeyPath="yes" />
          <Shortcut
            Id="LatticeProgramMenuShortcut"
            Directory="ProgramMenuLatticeFolder"
            Name="Lattice"
            Description="Lattice command line"
            WorkingDirectory="INSTALLFOLDER" />
        </Component>
        <Component Id="LatticeDaemonExeComponent" Guid="*">
          <File Id="LatticeDaemonExe" Name="lattice-daemon.exe" Source="$(var.SourceDir)\lattice-daemon.exe" KeyPath="yes" />
          <ServiceInstall
            Id="LatticeDaemonServiceInstall"
            Name="lattice-daemon"
            DisplayName="Lattice Daemon"
            Description="Runs the local Lattice daemon for .loom browsing and app support."
            Type="ownProcess"
            Start="auto"
            ErrorControl="normal"
            Vital="yes"
            Arguments='--service --data-dir "[CommonAppDataFolder]Lattice"' />
          <ServiceControl
            Id="LatticeDaemonServiceControl"
            Name="lattice-daemon"
            Start="install"
            Stop="both"
            Remove="uninstall"
            Wait="yes" />
        </Component>
        <Component Id="LicenseComponent" Guid="*">
          <File Id="LicenseFile" Name="LICENSE" Source="$(var.SourceDir)\LICENSE" KeyPath="yes" />
        </Component>
        <Component Id="ReadmeComponent" Guid="*">
          <File Id="ReadmeFile" Name="README.md" Source="$(var.SourceDir)\README.md" KeyPath="yes">
            <Shortcut
              Id="LatticeReadmeShortcut"
              Directory="ProgramMenuLatticeFolder"
              Name="Lattice README"
              Description="Open the local Lattice README"
              WorkingDirectory="INSTALLFOLDER" />
          </File>
        </Component>
        <Component Id="PathComponent" Guid="*">
          <Environment
            Id="LatticeInstallPath"
            Action="set"
            Name="PATH"
            Part="last"
            System="yes"
            Value="[INSTALLFOLDER]" />
          <RegistryValue
            Root="HKLM"
            Key="Software\Lattice"
            Name="InstallDir"
            Type="string"
            Value="[INSTALLFOLDER]"
            KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuLatticeFolder" Name="Lattice">
        <Component Id="ProgramMenuFolderComponent" Guid="*">
          <RemoveFolder Id="RemoveProgramMenuLatticeFolder" On="uninstall" />
          <RegistryValue
            Root="HKCU"
            Key="Software\Lattice"
            Name="ProgramMenuFolder"
            Type="integer"
            Value="1"
            KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Lattice" Level="1">
      <ComponentRef Id="LatticeExeComponent" />
      <ComponentRef Id="LatticeDaemonExeComponent" />
      <ComponentRef Id="LicenseComponent" />
      <ComponentRef Id="ReadmeComponent" />
      <ComponentRef Id="PathComponent" />
      <ComponentRef Id="ProgramMenuFolderComponent" />
    </Feature>
  </Package>
</Wix>
