pkgbase = lattice-net-bin
	pkgdesc = Peer-to-peer web protocol CLI and daemon (prebuilt release)
	pkgver = 0.1.9
	pkgrel = 1
	url = https://github.com/fordz0/lattice
	install = lattice-net-bin.install
	arch = x86_64
	license = GPL3
	depends = glibc
	depends = gcc-libs
	depends = systemd
	provides = lattice-net
	conflicts = lattice-net
	conflicts = lattice-net-git
	options = !debug
	source = https://github.com/fordz0/lattice/releases/download/lattice-v0.1.9/lattice-linux-x86_64.tar.gz
	sha256sums = 22738ecdc873456652c98ba5c11ca39c174fe44cd274b46d3a4da9a6b8599ab7

pkgname = lattice-net-bin
